<div class="home-container">
  <div class="content">
    <h1 class="welcome-title">Welcome, Do you want to </h1>
    <div class="button-container">
      <button mat-raised-button color="primary" class="action-button" onclick="alert('Sorry, we dont register stupid people, not stupid ? fill out this form and wait for our team to verify your (not)stupidity : https://form.typeform.com/to/LC6XXDpF')">Register</button>
      <p style="font-size: 18px; color: #333">or</p>
      <button mat-raised-button color="accent" class="action-button" routerLink="/login">Login</button>
    </div>
    <p style="font-size: 20px; color: #333 ; margin-left: 50px;">?</p>
    
  </div>
</div>

<style>
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
}

.welcome-title {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3rem;
  margin-right: 50px;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.action-button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  min-width: 200px;
  height: 60px;
}
</style>
