<!-- Angular Material Standalone Component Template -->
<div class="form-container">
  <form class="material-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="last_name" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="form-field">
      <mat-label>Role</mat-label>
      <input matInput placeholder="Role" formControlName="role" />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Role</mat-label>
      <mat-select>
        <mat-option value="user">User</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button matButton type="submit" class="submit-btn">Submit</button>
    </div>
  </form>
</div>
