<!-- <div class="dialog-container">
</div> -->
<h2 mat-dialog-title>{{title}}</h2>

<div class="dialog-content">
    @if (items().length > 0) {
        <mat-list>
            @for (item of items(); track item.id) {
                <!-- <mat-list-item>
                    {{item.name ?? item.phone ?? item.id}}
                </mat-list-item> -->
                <DialogItem [name]="item.name" [date]="item.date" [id]="item.id"></DialogItem>
            }

        </mat-list>
    } @else {
        <p class="no-items">No items to display</p>
    }
</div>
<!-- [mat-dialog-close]="true" -->
<div mat-dialog-actions align="end">
    <button 
        mat-button 
        [mat-dialog-close]="true"
        cdkFocusInitial (click)="onDialogCloseClick()">
        Close
    </button>
</div>
<!-- <div mat-dialog-content class="dialog">
</div> -->