/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css */

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 20px !important;
    padding: 24px !important;
}

/* Optional: backdrop color */
.mat-mdc-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.4) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}