
    :host{
        height: 100%;
    }
    .sidenav-container {
        height: 100%;
    }

    mat-sidenav {
        width: 250px;
        border-radius: 0px;
        padding: 10px;
    }
    /* mat-sidenav button {
        border-radius: 0px;
    } */

    

    .content {
        height: 100%;
        /* padding: 16px; */
    }