
<mat-sidenav-container class="sidenav-container">
  <!-- Toolbar / Header -->
  
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen">
    <mat-nav-list>
      @for (sidebarItem of menuItems(); track $index) {
        <a mat-list-item [routerLink]="sidebarItem.link">{{ sidebarItem.title }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
